version: "3.9"

services:
  gateway:
    build:
      context: apps/gateway
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/gateway:/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - SOCKET_EVENT_SECRET=wTD0y:6Ch(Z|H[Xh<rp"1Gx)3J]N[c

  notifications:
    build:
      context: apps/notifications
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/notifications:/app
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001
      - GATEWAY_PORT=3000
      - SOCKET_EVENT_SECRET=wTD0y:6Ch(Z|H[Xh<rp"1Gx)3J]N[c

  users:
    build:
      context: apps/users
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/users:/app
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - PORT=3002

  cms:
    build:
      context: apps/cms
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/cms:/app
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - PORT=3003

  posts:
    build:
      context: apps/posts
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/posts:/app
    ports:
      - "3004:3004"
    environment:
      - NODE_ENV=development
      - PORT=3004

  elasticsearch:
    image: elasticsearch:8.10.2
    environment:
      - node.name=elasticsearch
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - ./data/es:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - queueoverflow

  search:
    build:
      context: apps/search
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./apps/search:/app
    depends_on:
      - elasticsearch
    networks:
      - queueoverflow
    ports:
      - "3005:3005"
    environment:
      - NODE_ENV=development
      - PORT=3005
      - ELASTICSEARCH_NODE=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=vZCxp08vYfZTzFJO2P8y

networks:
  queueoverflow:
    name: queueoverflow
    external: true
    driver: bridge

volumes:
  esdata: