name: Docker Image CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Start docker-compose
        run: sudo docker-compose up -d -f "docker-compose-prod.yml"
      - name: Clean up
        run: sudo docker system prune -f
